### Hedef Değişken Analizi (Analysis of Target Variable)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)
df = sns.load_dataset("titanic")

In [2]:
# Değişkenleri integer'a çevirdik:
for col in df.columns:
    if df[col].dtypes == "bool":
        df[col] = df[col].astype(int)

In [3]:
def cat_summary(dataframe, col_name, plot=False):
    print(pd.DataFrame({col_name: dataframe[col_name].value_counts(),
                        "Ratio": 100 * dataframe[col_name].value_counts() / len(dataframe)}))
    print("##########################################")

    if plot:
        sns.countplot(x=dataframe[col_name], data=dataframe)
        plt.show(block=True)

In [4]:
def grab_col_names(dataframe, cat_th=10,  car_th=20):
    """
    Veri setindeki kategorik, numerik ve kategorik fakat kardinal değişkenlerin isimlerini verir.

    Parameters
    ----------
    dataframe: dataframe
        değişken isimleri alınmak istenen dataframe'dir.
    cat_th: int, float
        numerik fakat kategorik olan değişkenler için sınıf eşik değeri
    car_th: int, float
        kategorik fakat kardinal değişkenler için sınıf eşik değeri

    Returns
    -------
    cat_cols: list
        Kategorik değişken listesi
    num_cols: list
        Numerik değişken listesi
    cat_but_car: list
        Kategorik görünümlü kardinal değişken listesi

    Notes
    ------
    cat_cols + num_cols + cat_but_car = toplam değişken sayısı
    num_but_cat cat_cols'un içerisinde.

    """
    # cat_cols, cat_but_car
    cat_cols = [col for col in df.columns if str(df[col].dtypes) in ["category", "object", "bool"]]

    num_but_cat = [col for col in df.columns if df[col].nunique() < 10 and df[col].dtypes in ["int", "float"]]

    cat_but_car = [col for col in df.columns if
                   df[col].nunique() > 20 and str(df[col].dtypes) in ["category", "object"]]

    cat_cols = cat_cols + num_but_cat
    cat_cols = [col for col in cat_cols if col not in cat_but_car]

    num_cols = [col for col in df.columns if df[col].dtypes in ["int", "float"]]
    num_cols = [col for col in num_cols if col not in cat_cols]

    print(f"Observations: {dataframe.shape[0]}")
    print(f"Variables: {dataframe.shape[1]}")
    print(f'cat_cols: {len(cat_cols)}')
    print(f'num_cols: {len(num_cols)}')
    print(f'cat_but_car: {len(cat_but_car)}')
    print(f'num_but_cat: {len(num_but_cat)}')

    return cat_cols, num_cols, cat_but_car

In [5]:
cat_cols, num_cols, cat_but_car = grab_col_names(df)

Observations: 891
Variables: 15
cat_cols: 9
num_cols: 2
cat_but_car: 0
num_but_cat: 2

In [6]:
df.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked  class    who  adult_male deck  embark_town alive  alone
0         0       3    male  22.0      1      0   7.2500        S  Third    man           1  NaN  Southampton    no      0
1         1       1  female  38.0      1      0  71.2833        C  First  woman           0    C    Cherbourg   yes      0
2         1       3  female  26.0      0      0   7.9250        S  Third  woman           0  NaN  Southampton   yes      1
3         1       1  female  35.0      1      0  53.1000        S  First  woman           0    C  Southampton   yes      0
4         0       3    male  35.0      0      0   8.0500        S  Third    man           1  NaN  Southampton    no      1

In [7]:
# Bu veri setindeki hedef değişkenimiz survived değişkeni, bu değişkeni analiz etmek istiyoruz:
df["survived"].value_countsounts()

0    549
1    342
Name: survived, dtype: int64

In [8]:
cat_summary(df, "survived")

   survived      Ratio
0       549  61.616162
1       342  38.383838
##########################################

In [9]:
# Ama problem şudur ki elimizdeki hedef değişkenlerin ortaya çıkış sebeplerini genelde merak ederiz.
# Yani bu titanic veri setinde şöyle bir soru oldukça geçerli olacaktır: İnsanların hayatta kalma durumunu etkileyen şey nedir?
# Bunu anlamanın yolu bu değişkenleri yukarıdaki şekilde tek başına incelemek değildir.
# Çaprazlamamız gerekiyor. Bağımlı değişkene göre diğer değişkenleri göz önünde bulundurarak değerlendirmeler yapmamız gerek.

#### Hedef Değişkenin Kategorik Değişkenler ile Analizi

In [10]:
# Önce fonksiyon yazmadan normal bir şekilde bunu anlamaya çalışalım:
# Kategorik değişkene göre bir groupby yapalım:
df.groupby("sex")["survived"].mean()

sex
female    0.742038
male      0.188908
Name: survived, dtype: float64

In [11]:
# Fonksiyon ile yapalım:
def target_summary_with_cat(dataframe, target, categorical_col):
    print(pd.DataFrame({"TARGET_MEAN": dataframe.groupby(categorical_col)[target].mean()}), end="\n\n\n")

In [12]:
target_summary_with_cat(df, "survived", "pclass")

        TARGET_MEAN
pclass
1          0.629630
2          0.472826
3          0.242363

In [13]:
for col in cat_cols:
    target_summary_with_cat(df, "survived", col)

        TARGET_MEAN
sex
female     0.742038
male       0.188908


          TARGET_MEAN
embarked
C            0.553571
Q            0.389610
S            0.336957


        TARGET_MEAN
class
First      0.629630
Second     0.472826
Third      0.242363


       TARGET_MEAN
who
child     0.590361
man       0.163873
woman     0.756458


      TARGET_MEAN
deck
A        0.466667
B        0.744681
C        0.593220
D        0.757576
E        0.750000
F        0.615385
G        0.500000


             TARGET_MEAN
embark_town
Cherbourg       0.553571
Queenstown      0.389610
Southampton     0.336957


       TARGET_MEAN
alive
no               0
yes              1


            TARGET_MEAN
adult_male
0              0.717514
1              0.163873


       TARGET_MEAN
alone
0         0.505650
1         0.303538

#### Hedef Değişkenin Sayısal Değişkenler ile Analizi

In [14]:
# Anlamaya çalışalım:
# Hayatta kalan insanların yaş ortalaması:
df.groupby("survived")["age"].mean()

survived
0    30.626179
1    28.343690
Name: age, dtype: float64

In [15]:
# Aynı işlemin aggregation fonksiyonu ile yapımı:
df.groupby("survived").agg({"age": "mean"})

                age
survived
0         30.626179
1         28.343690

In [16]:
# Fonksiyon ile yapımı:
def target_summary_with_num(dataframe, target, numerical_col):
    print(dataframe.groupby(target).agg({numerical_col: "mean"}), end="\n\n\n")

In [17]:
target_summary_with_num(df, "survived","age")

                age
survived
0         30.626179
1         28.343690

In [18]:
for col in num_cols:
    target_summary_with_num(df, "survived", col)

                age
survived
0         30.626179
1         28.343690


               fare
survived
0         22.117887
1         48.395408